SoaSolution/Client/Proxy/Library.Client.Proxy/Service References/SoaTestService/SoaTestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SoaTestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISoaTestService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8801/Library.WcfService/SoaTestService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8801/Library.WcfService/SoaTestService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISoaTestService_Operate_InputMessage">
    <wsdl:part name="parameters" element="tns:Operate" />
  </wsdl:message>
  <wsdl:message name="ISoaTestService_Operate_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperateResponse" />
  </wsdl:message>
  <wsdl:message name="ISoaTestService_FacadeTestUserOperate_InputMessage">
    <wsdl:part name="parameters" element="tns:FacadeTestUserOperate" />
  </wsdl:message>
  <wsdl:message name="ISoaTestService_FacadeTestUserOperate_OutputMessage">
    <wsdl:part name="parameters" element="tns:FacadeTestUserOperateResponse" />
  </wsdl:message>
  <wsdl:portType name="ISoaTestService">
    <wsdl:operation name="Operate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoaTestService/Operate" message="tns:ISoaTestService_Operate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoaTestService/OperateResponse" message="tns:ISoaTestService_Operate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FacadeTestUserOperate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoaTestService/FacadeTestUserOperate" message="tns:ISoaTestService_FacadeTestUserOperate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoaTestService/FacadeTestUserOperateResponse" message="tns:ISoaTestService_FacadeTestUserOperate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISoaTestService" type="tns:ISoaTestService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISoaTestService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Operate">
      <soap12:operation soapAction="http://tempuri.org/ISoaTestService/Operate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacadeTestUserOperate">
      <soap12:operation soapAction="http://tempuri.org/ISoaTestService/FacadeTestUserOperate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoaTestService">
    <wsdl:port name="NetTcpBinding_ISoaTestService" binding="tns:NetTcpBinding_ISoaTestService">
      <soap12:address location="net.tcp://localhost:8800/Library.WcfService/SoaTestService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8800/Library.WcfService/SoaTestService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>